html {
	--background: white;
	--gray-200: #222;
	--gray-400: #444;
	--gray-600: #333;
	--gray-900: #111;
}
html.dark {
	--background: black;
	--gray-200: #eaeaea;
	--gray-400: #acacac;
	--gray-600: #fff;
	--gray-900: #fafafa;
}
body {
	font-family: 'Inter', sans-serif;
	padding: 0 0.5rem;
	background-color: var(--background);
	color: var(--gray-600);
}

h1 {
	font-size: 3rem;
	line-height: 1;
}

h1 + h2 {
	font-size: 1.1rem;
	margin-top: -1.4rem;
	font-weight: 400;
}

main {
	max-width: 40rem;
	margin: 0 auto;
}

p, li {
	font-size: 1rem;
	color:  var(--gray-400);
	opacity: 0.8;
}

li {
	margin: 1rem;
}