---
import Main from 'src/layouts/Main.astro';
import Cards from 'src/components/Cards.astro';
const profilePicture = 'https://avatars.githubusercontent.com/u/4916744?v=4';

const cards = [
	{
		title: 'Philosophies',
		to: '/philosophies',
		gradientFrom: '#818cf8',
		gradientTo: '#d8b4fe',
	},
	{
		title: 'Beyond technology',
		to: '/beyond-tech',
		gradientFrom: '#fde68a',
		gradientTo: '#fca5a5',
	},
	{
		title: 'Work Summery',
		to: '/work-summery',
		gradientFrom: '#6ee7b7',
		gradientTo: '#9333ea',
	},
];


const blogs = await Astro.glob<{
		title: string;
		subtitle: string;
		poster: string;
}>('./blogs/*.md');
---

<Main title='Home | Frau Katerina'>
	<div class='profile'>
		<img
			src={profilePicture}
			alt='some profile picture'
			height='100px'
			width='100px'
			class='profile__picture'
		/>
		<div class='profile__details'>
			<h1>Frau Katerina</h1>
			<h2>VP of Engineering at Google</h2>
			<p>
				Hello, I'm Katerina! I am a software engineer with a passion for
				open-source projects and community building. I love to share my
				knowledge and help others grow in their careers.
			</p>
		</div>
	</div>

	<Cards cards={cards} />

	<div class="featured-blogs">
		<h3>Featured Blogs</h3>
		<p>Check out my latest blogs on various topics!</p>
		<!-- <ol>
			<li><a href="/blogs/understanding-the-basics-of-ai">Understanding the Basics of AI</a></li>
			<li><a href="/blogs/the-future-of-web-development">The Future of Web Development</a></li>
			<li><a href="/blogs/open-source-contributions-a-guide">Open Source Contributions: A Guide</a></li>
			<li><a href="/blogs/building-a-career-in-tech">Building a Career in Tech</a></li>
		</ol> -->

		<ol>
			{blogs.map((blog) => (
				<li><a href={blog.url}>{blog.frontmatter.title}</a></li>
			))}
		</ol>
	</div>
</Main>

<style>
	.profile {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 1rem 0 3rem;
	}

	.profile__picture {
		border-radius: 50%;
		margin: 0 2rem 1rem 0;
	}

	.profile__details {
		flex: 1 0 300px;
		h1 {
			margin-top: 0;
		}
	}

	.featured-blogs {
		margin-top: 2rem;
	}
</style>
