---
import ThemeToggler from "./ThemeToggler.astro"

const url = Astro.url.pathname;

const links =[
    { href: '/', label: 'Home' },
    { href: '/philosophies', label: 'Philosophies' },
    { href: '/beyond-tech', label: 'Beyond technology' }
];
---
<nav>
    <ul>
        {links.map(link => (
            <li>
                <a href={link.href} class={url === link.href ? 'active' : ''}>
                    {link.label}
                </a>
            </li>
        ))}
    </ul>
    <ThemeToggler />
</nav>

<style>
    nav {
        display: flex;
        align-items: flex-start;
        padding: 2rem 0;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto 0 0;
        flex-shrink: 0;
        /* gap: 1rem; */
    }

    nav li {
        opacity: 0.8;
        list-style: none;
        font-size: 0.95rem;
        padding: 1rem;
    }

    a {
        color: var(--gray-400)
        padding: 0.5rem 1rem;
        border-radius: 10px;
        text-decoration: none;
    }

    a:hover, a.active {
        color: var(--gray-900);
    }
</style>